# ========================
# Jupyter Notebooks
# ========================
.ipynb_checkpoints/
*/.ipynb_checkpoints/
**/.ipynb_checkpoints/

# ========================
# Данные
# ========================
/data/
*.csv  # Если CSV лежат не в data/, а разбросаны — можно оставить это строкой